<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/admin.css" />
    <title><%= title %></title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="vh-100">
    <nav class="navbar navbar-expand-lg bg-dark px-4" data-bs-theme="dark">
      <a class="navbar-brand" href="/admin">관리자 설정</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <button
            id="navBoardBtn"
            class="btn nav-item nav-link"
            data-field="boardField"
          >
            점수판
          </button>
          <button
            id="navNotiBtn"
            class="btn nav-item nav-link"
            data-field="notiField"
          >
            알림조건
          </button>
          <button
            id="navDataBtn"
            class="btn nav-item nav-link"
            data-field="dataField"
          >
            데이터 설정
          </button>
          <button id="serverResetBtn" class="btn btn-secondary">
            서버리셋
          </button>
        </div>
        <div class="navbar-nav">
          <span class="nav-link"
            >현재 아프리카 도우미 URL : <span id="afreecaHpUrl"></span
          ></span>
          <form class="d-flex" id="urlSettingForm">
            <input
              type="text"
              class=""
              placeholder="URL"
              id="urlSettingInput"
            />
            <button
              id="urlSettingBtn"
              type="submit"
              class="btn btn-secondary btn-sm"
            >
              설정
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="row mx-0" id="main">
      <div class="p-4 d-none" id="boardField" data-bs-theme="dark">
        <h1>점수판 설정</h1>
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-4 p-4">
            <h4 class=""><strong>점수판 예시</strong></h4>
            <div id="BoardMain" class="mb-4">
              <div id="header">
                <img src="images/board/header.png" alt="" width="100%" />
              </div>
              <div class="bar">
                <img src="images/board/listbar_black.png" alt="" />
                <div class="barText menu white top"></div>
              </div>
              <div class="body">
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">1</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">555</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">2</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">444</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">3</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">333</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">4</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">222</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
              </div>
              <div class="footer">
                <img src="images/board/footer.png" alt="" width="100%" />
              </div>
            </div>
            <form class="mt-4" id="boardSettingForm">
              <div class="d-flex flex-column">
                <fieldset class="form-group">
                  <legend class="mt-4">점수판 투명도 조절</legend>
                  <span id="boardOpacitySpan" class="form-label"></span>
                  <input
                    type="range"
                    class="form-range"
                    id="boardOpacity"
                    name="boardOpacity"
                    value="0"
                    min="0"
                    max="100"
                  />
                </fieldset>
                <button type="submit" class="btn btn-primary">
                  투명도 설정 저장
                </button>
              </div>
            </form>
            <div class="d-flex flex-column my-4 gap-4" id="boardSettingImages">
              <h4><strong>점수판 배경 이미지 변경</strong></h4>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 p-4 d-flex flex-column gap-4">
            <h4 class=""><strong>후원 랭킹 예시</strong></h4>
            <div id="RankMain">
              <div id="header">
                <img src="images/rank/header.png" alt="" width="100%" />
              </div>
              <div class="bar">
                <img src="images/rank/listbar_black.png" alt="" />
                <div class="barText menu white top"></div>
              </div>
              <div class="body">
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">1</span>
                    <span class="donator">후원자명</span>
                    <span class="score">999</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">2</span>
                    <span class="donator">후원자명</span>
                    <span class="score">777</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">3</span>
                    <span class="donator">후원자명</span>
                    <span class="score">555</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">4</span>
                    <span class="donator">후원자명</span>
                    <span class="score">333</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <form class="mt-4" id="rankingSettingForm">
                <div class="d-flex flex-column">
                  <fieldset class="form-group">
                    <legend class="mt-4">후원 랭킹 투명도 조절</legend>
                    <span id="rankOpacitySpan" class="form-label"></span>
                    <input
                      type="range"
                      class="form-range"
                      id="rankOpacity"
                      name="rankOpacity"
                      value="0"
                      min="0"
                      max="100"
                    />
                  </fieldset>
                  <button type="submit" class="btn btn-primary">
                    투명도 설정 저장
                  </button>
                </div>
              </form>
              <form class="mt-4" id="rankingLimitSettingForm">
                <h4><strong>후원 랭킹 표시 갯수 설정</strong></h4>
                <div class="d-flex justify-content-center gap-4">
                  <div class="d-flex flex-column">
                    <label for="rankLimit">1 이상의 숫자 입력</label
                    ><input
                      class="form-control"
                      name="rankLimit"
                      id="rankLimit"
                      type="number"
                      value=""
                      placeholder=""
                    />
                    <small>1부터 100사이 숫자 입력</small>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    설정저장
                  </button>
                </div>
              </form>
            </div>
            <div class="d-flex flex-column gap-4" id="rankingSettingImages">
              <h4><strong>후원 랭킹 이미지 변경</strong></h4>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 p-4">
            <form class="mt-4" id="donaLogSaveForm">
              <fieldset class="d-flex flex-column gap-4">
                <legend><strong>도네이션 로그 추가</strong></legend>
                <div class="d-flex justify-content-between">
                  <div>
                    <span>BJ</span>
                    <div class="btn-group" role="group">
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogSelBJ"
                        value="ori"
                        id="bj-sel-ori-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="bj-sel-ori-new"
                        >오리꿍</label
                      >
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogSelBJ"
                        value="hiyoko"
                        id="bj-sel-hiyoko-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="bj-sel-hiyoko-new"
                        >히요코</label
                      >
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogSelBJ"
                        value="yam"
                        id="bj-sel-yam-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="bj-sel-yam-new"
                        >얌</label
                      >
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogSelBJ"
                        value="dal"
                        id="bj-sel-dal-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="bj-sel-dal-new"
                        >달체솜</label
                      >
                    </div>
                  </div>
                  <div>
                    <span>점수</span>
                    <div class="btn-group" role="group">
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogPlusMinus"
                        value="plus"
                        id="plusMinus-plus-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="plusMinus-plus-new"
                        >플러스</label
                      >
                      <input
                        type="radio"
                        class="btn-check"
                        name="newLogPlusMinus"
                        value="minus"
                        id="plusMinus-minus-new"
                      />
                      <label
                        class="btn btn-outline-primary"
                        for="plusMinus-minus-new"
                        >마이너스</label
                      >
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label for="newLogValue">후원 개수 </label
                    ><input
                      type="number"
                      name="newLogValue"
                      class="form-control"
                      id="newLogValue"
                    />
                  </div>
                  <div>
                    <label for="newLogName">후원 닉네임 </label
                    ><input
                      type="text"
                      id="newLogName"
                      name="newLogName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <label for="newLogMsg">메세지</label
                  ><input
                    class="form-control"
                    name="newLogMsg"
                    id="newLogMsg"
                    type="text"
                    value=""
                    placeholder=""
                  />
                </div>
                <button id="newLogSaveBtn" class="btn btn-primary">
                  도네 로그 등록
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="p-4" id="notiField">
        <form class="d-none" id="scriptSaveForm">
          <fieldset>
            <legend><strong>알림 스크립트 변경</strong></legend>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="notiScriptInput"
                required
                placeholder="ex) [name]님. [break]별풍선 [value]개 감사합니다.[break][msg]"
              /><small>아래의 옵션과 조합하여 사용하세요</small> <br /><br />
              <fieldset>
                <legend><strong>옵션 목록</strong></legend>
                <span
                  >[name] 후원자 이름 | [id] 후원자 ID | [msg] 후원 메세지 |
                  [bj] 후원BJ이름 | [value] 별풍선 개수 | [break] 줄바꿈
                </span>
              </fieldset>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
              스크립트 저장
            </button>
          </fieldset>
        </form>
        <form class="mt-4">
          <fieldset>
            <legend><strong>알림 조건 설정</strong></legend>
            <div id="condition" class="w-50 mx-auto">
              <div id="ori-conditions" class="d-flex flex-column">
                <h2>오리꿍</h2>
              </div>
              <div id="yam-conditions" class="d-flex flex-column mt-4">
                <h2>얌</h2>
              </div>
              <div id="hiyoko-conditions" class="d-flex flex-column mt-4">
                <h2>히요코</h2>
              </div>
              <div id="dal-conditions" class="d-flex flex-column mt-4">
                <h2>달체솜</h2>
              </div>
              <div id="default-conditions" class="d-flex flex-column mt-4">
                <h2>기본</h2>
                <div
                  class="d-flex justify-content-end conditionBar"
                  data-bj="default"
                >
                  <div class="">
                    <span>알림음 : </span>
                    <span id="default-sound-filename"></span>
                    <label class="btn btn-light rounded" for="default-sound">
                      파일 변경
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              id="conditionConfigSaveBtn"
            >
              알림 설정 저장
            </button>
          </fieldset>
        </form>
      </div>

      <div class="p-0 d-none" id="dataField">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card border-primary p-4 m-4">
              <div class="card-header">
                <h4 class="card-title d-flex align-item-center">
                  <strong>URL 모음</strong>
                </h4>
              </div>
              <div class="list-group">
                <div
                  class="list-group-item list-group-item-action d-flex gap-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Click to Copy"
                >
                  <div class="">어드민 페이지</div>
                  <div class="flex-grow-1">nstream.kr:3033/admin</div>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Click to Copy"
                >
                  <div class="">알림창</div>
                  <div class="flex-grow-1">nstream.kr:3033/notification</div>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Click to Copy"
                >
                  <div class="">점수판</div>
                  <div class="flex-grow-1">nstream.kr:3033/board</div>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Click to Copy"
                >
                  <div class="">후원랭킹</div>
                  <div class="flex-grow-1">nstream.kr:3033/rank</div>
                </div>
              </div>
            </div>
            <div class="card border-primary p-4 m-4">
              <div class="card-header">
                <h4 class="card-title d-flex align-item-center">
                  <strong>알림 컨트롤</strong>
                </h4>
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-secondary" id="stopBtn">
                  현재 알림 멈춤
                </button>
                <button
                  type="button"
                  class="btn btn-secondary d-none"
                  id="resumeBtn"
                >
                  현재 알림 재개
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card border-primary p-4 m-4">
              <div class="card-header">
                <h4 class="card-title d-flex align-item-center">
                  <strong>현재 필터링 단어</strong>
                </h4>
              </div>
              <table class="table table-hover" id="keywordPresent2">
                <thead>
                  <tr>
                    <th scope="col">BJ</th>
                    <th scope="col">점수등락</th>
                    <th scope="col">키워드</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <!-- <div
                id="keywordPresent"
                class="d-flex flex-column gap-4 card-body"
              >
                <div class="ori">
                  <h4>오리꿍</h4>
                  <div class="plus d-flex gap-3 mb-2">플러스</div>
                  <div class="minus d-flex gap-3">마이너스</div>
                </div>
                <div class="hiyoko">
                  <h4>히요코</h4>
                  <div class="plus d-flex gap-3 mb-2">플러스</div>
                  <div class="minus d-flex gap-3">마이너스</div>
                </div>
                <div class="yam">
                  <h4>얌</h4>
                  <div class="plus d-flex gap-3 mb-2">플러스</div>
                  <div class="minus d-flex gap-3">마이너스</div>
                </div>
                <div class="dal">
                  <h4>달체솜</h4>
                  <div class="plus d-flex gap-3 mb-2">플러스</div>
                  <div class="minus d-flex gap-3">마이너스</div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card border-primary p-4 m-4">
              <div class="card-header">
                <h4 class="card-title d-flex align-item-center">
                  <strong>신규 필터링 단어 등록</strong>
                </h4>
              </div>
              <div class="card-body">
                <form id="keyWordSaveForm">
                  <div class="d-flex flex-column gap-4">
                    <div class="d-flex gap-4">
                      <span>BJ</span>
                      <div class="btn-group" role="group">
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="ori"
                          id="bj-sel-ori"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-ori"
                          >오리꿍</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="hiyoko"
                          id="bj-sel-hiyoko"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="bj-sel-hiyoko"
                          >히요코</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="yam"
                          id="bj-sel-yam"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-yam"
                          >얌</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="dal"
                          id="bj-sel-dal"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-dal"
                          >달체솜</label
                        >
                      </div>
                    </div>
                    <div class="d-flex gap-4">
                      <span>점수</span>
                      <div class="btn-group" role="group">
                        <input
                          type="radio"
                          class="btn-check"
                          name="plusMinus"
                          value="plus"
                          id="plusMinus-plus"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="plusMinus-plus"
                          >플러스</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="plusMinus"
                          value="minus"
                          id="plusMinus-minus"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="plusMinus-minus"
                          >마이너스</label
                        >
                      </div>
                    </div>
                    <div class="d-flex gap-4 justify-content-between">
                      <div class="d-flex gap-4">
                        <span>키워드</span
                        ><input
                          id="keyWordInput"
                          class=""
                          type="text"
                          value=""
                          placeholder=""
                        />
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <button id="keyWordSaveBtn" class="btn btn-primary">
                        키워드 등록
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Optional JavaScript -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://<%= addr %>:<%= port %>', {
      path: '/socket.io',
      transports: ['websocket'],
    })
  </script>
  <script src="/javascripts/admin.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</html>
