<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title><%= title %></title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/admin.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body class="bg-light">
    <div class="flex-shrink-0 p-3 bg-white" id="sidebar">
      <a
        href="/admin"
        class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-center"
      >
        <span class="fs-5 fw-semibold mx-auto">관리자 설정</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#home-collapse"
            aria-expanded="true"
          >
            후원 알림 관리
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <button
                  id="navNotiBtn"
                  class="link-dark rounded"
                  data-field="notiField"
                >
                  알림조건
                </button>
              </li>
              <li>
                <button
                  id="navDataBtn"
                  class="link-dark rounded"
                  data-field="dataField"
                >
                  키워드 필터링
                </button>
              </li>
              <li>
                <button
                  id="navListBtn"
                  class="link-dark rounded"
                  data-field="listField"
                >
                  후원 목록
                </button>
              </li>

              <li>
                <button
                  id="navBoardBtn"
                  class="btn nav-item nav-link"
                  data-field="boardField"
                >
                  점수판
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
          >
            후원 게임
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/roulette" target="_blank" class="link-dark rounded"
                  >도네이션 핀볼</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#orders-collapse"
            aria-expanded="false"
          >
            기타기능
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <button type="button" class="link-dark rounded" id="stopBtn">
                  현재 알림 멈춤
                </button>
                <button
                  type="button"
                  class="link-dark rounded d-none"
                  id="resumeBtn"
                >
                  현재 알림 재개
                </button>
              </li>
              <li>
                <button
                  id="navEtcBtn"
                  class="btn nav-item nav-link"
                  data-field="etcField"
                >
                  오버레이 URL
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#account-collapse"
            aria-expanded="false"
          >
            계정 세팅
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <button id="afreecaHpUrlBtn" class="link-dark rounded">
                  현재 세팅된 URL
                </button>
              </li>
              <li>
                <button id="afreecaHpUrlSetBtn" class="link-dark rounded">
                  새로운 URL 입력
                </button>
              </li>
              <li>
                <span class="d-none" id="afreecaHpUrl"></span>
                <button id="serverResetBtn" class="link-dark rounded">
                  서버리셋
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <main role="main" class="row container mx-auto" id="main">
      <div class="p-4 d-none" id="boardField" data-bs-theme="dark">
        <h2>점수판 설정</h2>
        <div class="row">
          <div class="col-12 col-lg-6 p-4 d-flex flex-column gap-4">
            <h4 class=""><strong>점수판 예시</strong></h4>
            <div id="BoardMain">
              <div class="header">
                <img
                  src="images/board/header.png"
                  id="board-example-header.png"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="bar">
                <img
                  src="images/board/listbar_black.png"
                  id="board-example-listbar_black.png"
                  alt=""
                />
                <div class="barText menu white top"></div>
              </div>
              <div class="body">
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">1</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">555</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">2</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">444</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">3</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">333</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
                <div class="bar">
                  <!-- <img src="images/board/listbar_normal.png" alt="" /> -->
                  <div class="barText menu">
                    <span class="rank">4</span>
                    <span class="bj">BJ 이름</span>
                    <span class="score">222</span>
                    <span class="contribute">10000</span>
                  </div>
                </div>
              </div>
              <div class="footer">
                <img
                  src="images/board/footer.png"
                  id="board-example-footer.png"
                  alt=""
                  width="100%"
                />
              </div>
            </div>

            <div class="card border-primary p-4">
              <div class="card-header">
                <h5 class="card-title d-flex align-item-center">
                  <strong>점수판 배경 이미지 변경</strong>
                </h5>
              </div>
              <div
                class="card-body d-flex flex-column my-4 gap-4"
                id="boardSettingImages"
              ></div>
            </div>

            <div class="card border-primary p-4">
              <div class="card-header">
                <h5
                  class="card-title d-flex justify-content-between align-item-center"
                >
                  <strong>점수판 투명도 조절</strong
                  ><span id="boardOpacitySpan" class="form-label"></span>
                </h5>
              </div>
              <div class="card-body">
                <form class="d-flex flex-column" id="boardSettingForm">
                  <input
                    type="range"
                    class="form-range"
                    id="boardOpacity"
                    name="boardOpacity"
                    value="0"
                    min="0"
                    max="100"
                  />
                  <button type="submit" class="btn btn-primary">
                    투명도 설정 저장
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 p-4 d-flex flex-column gap-4">
            <h4 class=""><strong>후원 랭킹 예시</strong></h4>
            <div id="RankMain">
              <div id="header">
                <img src="images/rank/header.png" alt="" width="100%" />
              </div>
              <div class="bar">
                <img src="images/rank/listbar_black.png" alt="" />
                <div class="barText menu white top"></div>
              </div>
              <div class="body">
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">1</span>
                    <span class="donator">후원자명</span>
                    <span class="score">999</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">2</span>
                    <span class="donator">후원자명</span>
                    <span class="score">777</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">3</span>
                    <span class="donator">후원자명</span>
                    <span class="score">555</span>
                  </div>
                </div>
                <div class="bar">
                  <div class="barText menu">
                    <span class="rank">4</span>
                    <span class="donator">후원자명</span>
                    <span class="score">333</span>
                  </div>
                </div>
              </div>
              <div class="footer">
                <img src="images/rank/footer.png" alt="" width="100%" />
              </div>
            </div>

            <div class="card border-primary p-4">
              <div class="card-header">
                <h5 class="card-title">
                  <strong>후원 랭킹 이미지 변경</strong>
                </h5>
              </div>
              <div
                class="card-body d-flex flex-column my-4 gap-4"
                id="rankingSettingImages"
              ></div>
            </div>

            <div class="card border-primary p-4">
              <div class="card-header">
                <h5
                  class="card-title d-flex justify-content-between align-item-center"
                >
                  <strong>후원 랭킹 투명도 조절</strong
                  ><span id="rankOpacitySpan" class="form-label"></span>
                </h5>
              </div>
              <div class="card-body">
                <form class="" id="rankingSettingForm">
                  <div class="d-flex flex-column">
                    <fieldset class="form-group">
                      <input
                        type="range"
                        class="form-range"
                        id="rankOpacity"
                        name="rankOpacity"
                        value="0"
                        min="0"
                        max="100"
                      />
                    </fieldset>
                    <button type="submit" class="btn btn-primary">
                      투명도 설정 저장
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card border-primary p-4">
              <div class="card-header">
                <h5 class="card-title">
                  <strong>후원 랭킹 표시 갯수 설정</strong>
                </h5>
              </div>
              <div class="card-body d-flex flex-column">
                <form class="" id="rankingLimitSettingForm">
                  <div class="d-flex justify-content-center gap-4">
                    <input
                      class="form-control w-50 flex-grow-1"
                      name="rankLimit"
                      id="rankLimit"
                      type="number"
                      value=""
                      min="1"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="입력한 숫자 만큼
                          후원자 순위가 표시됩니다"
                    />
                    <button type="submit" class="btn btn-primary">
                      설정저장
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4" id="notiField">
        <h2>후원 알림 이미지 & 사운드 설정</h2>
        <form class="d-none" id="scriptSaveForm">
          <fieldset>
            <legend><strong>알림 스크립트 변경</strong></legend>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="notiScriptInput"
                required
                placeholder="ex) [name]님. [break]별풍선 [value]개 감사합니다.[break][msg]"
              /><small>아래의 옵션과 조합하여 사용하세요</small> <br /><br />
              <fieldset>
                <legend><strong>옵션 목록</strong></legend>
                <span
                  >[name] 후원자 이름 | [id] 후원자 ID | [msg] 후원 메세지 |
                  [bj] 후원BJ이름 | [value] 별풍선 개수 | [break] 줄바꿈
                </span>
              </fieldset>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
              스크립트 저장
            </button>
          </fieldset>
        </form>
        <div class="accordion" id="conditionMain">
          <!-- first -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                오리꿍
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#conditionMain"
            >
              <div class="accordion-body">
                <div id="ori-conditions" class="d-flex flex-column">
                  <h2>오리꿍</h2>
                </div>
              </div>
            </div>
          </div>
          <!-- second -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                얌
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#conditionMain"
            >
              <div class="accordion-body">
                <div id="yam-conditions" class="d-flex flex-column mt-4">
                  <h2>얌</h2>
                </div>
              </div>
            </div>
          </div>
          <!-- third -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                히요코
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#conditionMain"
            >
              <div class="accordion-body">
                <div id="hiyoko-conditions" class="d-flex flex-column mt-4">
                  <h2>히요코</h2>
                </div>
              </div>
            </div>
          </div>
          <!-- fourth -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                달체솜
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#conditionMain"
            >
              <div class="accordion-body">
                <div id="dal-conditions" class="d-flex flex-column mt-4">
                  <h2>달체솜</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                기본 설정
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#conditionMain"
            >
              <div class="accordion-body">
                <div id="default-conditions" class="d-flex flex-column mt-4">
                  <h2>기본</h2>
                  <div
                    class="d-flex justify-content-end conditionBar"
                    data-bj="default"
                  >
                    <div class="">
                      <span>알림음 : </span>
                      <span id="default-sound-filename"></span>
                      <label class="btn btn-light rounded" for="default-sound">
                        파일 변경
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form class="mt-4">
          <fieldset>
            <div id="condition" class="w-50 mx-auto"></div>
            <button
              type="submit"
              class="btn btn-primary"
              id="conditionConfigSaveBtn"
            >
              알림 설정 저장
            </button>
          </fieldset>
        </form>
      </div>
      <div class="p-0 d-none" id="dataField">
        <div
          class="modal fade"
          id="keywordAddModal"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <form id="keyWordSaveForm">
                <div class="modal-header">
                  <h5 class="modal-title d-flex align-item-center">
                    <strong>신규 필터링 단어 등록</strong>
                  </h5>
                </div>
                <div class="modal-body">
                  <div class="d-flex flex-column gap-3">
                    <div class="d-flex flex-column">
                      <span>BJ</span>
                      <div class="btn-group" role="group">
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="ori"
                          id="bj-sel-ori"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-ori"
                          >오리꿍</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="hiyoko"
                          id="bj-sel-hiyoko"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="bj-sel-hiyoko"
                          >히요코</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="yam"
                          id="bj-sel-yam"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-yam"
                          >얌</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="selBJ"
                          value="dal"
                          id="bj-sel-dal"
                        />
                        <label class="btn btn-outline-primary" for="bj-sel-dal"
                          >달체솜</label
                        >
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <span>점수</span>
                      <div class="btn-group" role="group">
                        <input
                          type="radio"
                          class="btn-check"
                          name="plusMinus"
                          value="plus"
                          id="plusMinus-plus"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="plusMinus-plus"
                          >플러스</label
                        >
                        <input
                          type="radio"
                          class="btn-check"
                          name="plusMinus"
                          value="minus"
                          id="plusMinus-minus"
                        />
                        <label
                          class="btn btn-outline-primary"
                          for="plusMinus-minus"
                          >마이너스</label
                        >
                      </div>
                    </div>
                    <div class="d-flex gap-4 justify-content-between">
                      <div class="d-flex flex-column w-100">
                        <span>키워드</span
                        ><input
                          id="keyWordInput"
                          class="form-control"
                          type="text"
                          value=""
                          placeholder=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    닫기
                  </button>
                  <button id="keyWordSaveBtn" class="btn btn-primary">
                    키워드 등록
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card border-primary p-4 m-4">
          <div class="card-header d-flex justify-content-between">
            <h5 class="card-title d-flex align-item-center">
              <strong>현재 필터링 단어</strong>
            </h5>
            <div class="d-flex">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="addNewKeywordBtn"
                data-bs-toggle="modal"
                data-bs-target="#keywordAddModal"
              >
                추가
              </button>
            </div>
          </div>
          <table
            class="table table-hover fixed-table text-center"
            id="keywordPresent"
          >
            <thead class="table-primary">
              <tr>
                <th scope="col" width="25%">BJ</th>
                <th scope="col" width="35%">점수등락</th>
                <th scope="col" width="35%">키워드</th>
                <th scope="col" width="10%"></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="p-0 d-none" id="listField">
        <div class="row">
          <div
            class="modal fade"
            id="donationAddModal"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <form class="" id="donaLogSaveForm">
                  <div class="modal-header">
                    <h5 class="modal-title d-flex align-item-center">
                      <strong>후원 기록 추가</strong>
                    </h5>
                  </div>
                  <div class="modal-body">
                    <fieldset class="d-flex flex-column gap-3">
                      <div class="d-flex flex-column">
                        <span>후원 여부</span>
                        <div class="btn-group" id="bjSpon">
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogBjSpon"
                            value="true"
                            id="bj-spon-true"
                            required
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-spon-true"
                            >네</label
                          >
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogBjSpon"
                            value="false"
                            id="bj-spon-false"
                            required
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-spon-false"
                            >아니오</label
                          >
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <span>BJ</span>
                        <div class="btn-group donated" role="group">
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogSelBJ"
                            value="ori"
                            id="bj-sel-ori-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-sel-ori-new"
                            >오리꿍</label
                          >
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogSelBJ"
                            value="hiyoko"
                            id="bj-sel-hiyoko-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-sel-hiyoko-new"
                            >히요코</label
                          >
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogSelBJ"
                            value="yam"
                            id="bj-sel-yam-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-sel-yam-new"
                            >얌</label
                          >
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogSelBJ"
                            value="dal"
                            id="bj-sel-dal-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="bj-sel-dal-new"
                            >달체솜</label
                          >
                        </div>
                      </div>
                      <div class="d-flex flex-column donated">
                        <span>점수</span>
                        <div class="btn-group" role="group">
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogPlusMinus"
                            value="plus"
                            id="plusMinus-plus-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="plusMinus-plus-new"
                            >플러스</label
                          >
                          <input
                            type="radio"
                            class="btn-check"
                            name="newLogPlusMinus"
                            value="minus"
                            id="plusMinus-minus-new"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="plusMinus-minus-new"
                            >마이너스</label
                          >
                        </div>
                      </div>
                      <div class="d-flex justify-content-between gap-2">
                        <div>
                          <label for="newLogValue">후원 개수 </label
                          ><input
                            type="number"
                            name="newLogValue"
                            class="form-control"
                            id="newLogValue"
                            min="1"
                          />
                        </div>
                        <div>
                          <label for="newLogName">후원 닉네임 </label
                          ><input
                            type="text"
                            id="newLogName"
                            name="newLogName"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <label for="newLogMsg">메세지</label
                        ><input
                          class="form-control"
                          name="newLogMsg"
                          id="newLogMsg"
                          type="text"
                          value=""
                          placeholder=""
                        />
                      </div>
                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      닫기
                    </button>
                    <button id="newLogSaveBtn" class="btn btn-primary">
                      후원 기록 등록
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card border-primary p-4 m-4">
              <div class="card-header d-flex justify-content-between">
                <h5 class="card-title d-flex align-item-center">
                  <strong>후원 목록</strong>
                </h5>
                <div class="d-flex">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    id="addNewLogBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#donationAddModal"
                  >
                    추가
                  </button>
                </div>
              </div>
              <table class="table table-hover text-center fixed-table">
                <thead>
                  <tr class="table-primary">
                    <th scope="col" width="10%">ID</th>
                    <th scope="col" width="20%">닉네임</th>
                    <th scope="col" width="10%">후원BJ</th>
                    <th scope="col" width="10%">점수변동</th>
                    <th scope="col" width="35%">메세지</th>
                    <th scope="col" width="10%">후원개수</th>
                    <th scope="col" width="5%"></th>
                  </tr>
                </thead>
                <tbody id="donationList"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="p-0 d-none" id="etcField">
        <div class="row">
          <div class="flex-row justify-content-between">
            <div class="card border-primary p-4 m-4 flex-grow-1">
              <div class="card-header">
                <h5 class="card-title d-flex align-item-center">
                  <strong>URL 모음</strong>
                </h5>
              </div>
              <div class="list-group">
                <div
                  class="list-group-item list-group-item-action d-flex gap-2 urlBox"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-url="nstream.kr:3033/admin"
                  title="클릭하면 클립보드에 복사됩니다"
                >
                  <span class="">어드민 페이지</span>
                  <span class="flex-grow-1 text-end url">
                    nstream.kr:3033/admin
                  </span>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2 urlBox"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-url="nstream.kr:3033/notification"
                  title="클릭하면 클립보드에 복사됩니다"
                >
                  <span class="">알림창</span>
                  <span class="flex-grow-1 text-end url">
                    nstream.kr:3033/notification
                  </span>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2 urlBox"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-url="nstream.kr:3033/board"
                  title="클릭하면 클립보드에 복사됩니다"
                >
                  <span class="">점수판</span>
                  <span class="flex-grow-1 text-end url">
                    nstream.kr:3033/board
                  </span>
                </div>
                <div
                  class="list-group-item list-group-item-action d-flex gap-2 urlBox"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-url="nstream.kr:3033/rank"
                  title="클릭하면 클립보드에 복사됩니다"
                >
                  <span class="">후원랭킹</span>
                  <span class="flex-grow-1 text-end url">
                    nstream.kr:3033/rank
                  </span>
                </div>
              </div>
            </div>
            <div class="d-none card border-primary p-4 m-4 flex-grow-1">
              <div class="card-header">
                <h5 class="card-title d-flex align-item-center">
                  <strong>알림 컨트롤</strong>
                </h5>
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-secondary" id="stopBtn">
                  현재 알림 멈춤
                </button>
                <button
                  type="button"
                  class="btn btn-secondary d-none"
                  id="resumeBtn"
                >
                  현재 알림 재개
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <!-- Optional JavaScript -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://<%= addr %>:<%= port %>', {
      path: '/socket.io',
      transports: ['websocket'],
    })
    socket.on('afreecaHpUrl', async (msg) => {
      document.querySelector('#afreecaHpUrl').innerText = msg
    })
    socket.on('news', async (msg) => {
      addNewDonation(msg)
    })
  </script>
  <script src="/javascripts/admin.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</html>
