<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />

    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/admin.css" />
  </head>
  <body class="vw-100 vh-100">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <a class="navbar-brand" href="/admin">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/admin"
            >Home <span class="sr-only"></span
          ></a>
          <a class="nav-item nav-link" href="/admin/setting">setting</a>
        </div>
        <div class="navbar-nav">
          <span class="nav-link"
            >현재 아프리카 도우미 URL : <span id="afreecaHpUrl"></span
          ></span>
          <form class="d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="URL"
              id="urlSettingInput"
            />
          </form>
          <button id="urlSettingBtn" class="btn btn-secondary btn-sm">
            설정
          </button>
        </div>
      </div>
    </nav>
    <div class="row mx-0">
      <div class="col-12 col-lg-4 bg-secondary p-0">
        <h1>후원 알림 설정</h1>
        <form class="mt-4">
          <fieldset>
            <legend><strong>알림 스크립트 변경</strong></legend>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="notiScriptInput"
                placeholder="ex) [name]님. [break]별풍선 [value]개 감사합니다.[break][msg]"
              /><small>아래의 옵션과 조합하여 사용하세요</small> <br /><br />
              <fieldset>
                <legend><strong>옵션 목록</strong></legend>
                <span
                  >[name] 후원자 이름 | [id] 후원자 ID | [msg] 후원 메세지</span
                ><br />
                <span>
                  [bj] 후원BJ이름 | [value] 별풍선 개수 | [break] 줄바꿈
                </span>
              </fieldset>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
              스크립트 저장
            </button>
          </fieldset>
        </form>
        <!-- <form class="mt-4">
          <fieldset>
            <legend><strong>알림 컨트롤</strong></legend>
            <div class="form-group">
              <button type="button" class="btn btn-secondary" id="stopBtn">
                멈춤
              </button>
              <button
                type="button"
                class="btn btn-secondary d-none"
                id="resumeBtn"
              >
                재개
              </button>
            </div>
          </fieldset>
        </form> -->
      </div>
      <div class="col-12 col-lg-4 bg-success p-0">
        <form class="mt-4">
          <fieldset>
            <legend><strong>알림 조건 설정</strong></legend>
            <div id="condition">
              <div id="ori-conditions" class="d-flex flex-column">
                <h2>오리꿍</h2>
              </div>
              <div id="yam-conditions" class="d-flex flex-column">
                <h2>얌</h2>
              </div>
              <div id="hiyoko-conditions" class="d-flex flex-column">
                <h2>히요코</h2>
              </div>
              <div id="dal-conditions" class="d-flex flex-column">
                <h2>달체솜</h2>
              </div>
              <div id="default-conditions" class="d-flex flex-column">
                <h2>기본</h2>
                <div
                  class="d-flex justify-content-between conditionBar"
                  data-bj="default"
                >
                  <div>
                    <span>알림음 : </span>
                    <span id="default-sound-filename"></span>
                    <label class="btn btn-primary rounded" for="default-sound">
                      파일 변경
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" id="conditionConfigSaveBtn">설정 저장</button>
          </fieldset>
        </form>
      </div>
      <div class="col-12 col-lg-4 bg-secondary p-0">
        <h1>데이터 수집 설정</h1>
        <form class="mt-4">
          <legend>현재 키워드</legend>
          <div id="keywordPresent">
            <div class="ori">
              <strong>오리꿍</strong>
              <div class="plus d-flex gap-3 mb-2">플러스</div>
              <div class="minus d-flex gap-3">마이너스</div>
            </div>
            <div class="hiyoko">
              <strong>히요코</strong>
              <div class="plus d-flex gap-3 mb-2">플러스</div>
              <div class="minus d-flex gap-3">마이너스</div>
            </div>

            <div class="yam">
              <strong>얌</strong>
              <div class="plus d-flex gap-3 mb-2">플러스</div>
              <div class="minus d-flex gap-3">마이너스</div>
            </div>
            <div class="dal">
              <strong>달체솜</strong>
              <div class="plus d-flex gap-3 mb-2">플러스</div>
              <div class="minus d-flex gap-3">마이너스</div>
            </div>
          </div>
          <div class="form-group">
            <legend>키워드 등록</legend>
            <div>
              <span>BJ</span>
              <div class="btn-group" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  name="selBJ"
                  value="ori"
                  id="bj-sel-ori"
                />
                <label class="btn btn-outline-primary" for="bj-sel-ori"
                  >오리꿍</label
                >
                <input
                  type="radio"
                  class="btn-check"
                  name="selBJ"
                  value="hiyoko"
                  id="bj-sel-hiyoko"
                />
                <label class="btn btn-outline-primary" for="bj-sel-hiyoko"
                  >히요코</label
                >
                <input
                  type="radio"
                  class="btn-check"
                  name="selBJ"
                  value="yam"
                  id="bj-sel-yam"
                />
                <label class="btn btn-outline-primary" for="bj-sel-yam"
                  >얌</label
                >
                <input
                  type="radio"
                  class="btn-check"
                  name="selBJ"
                  value="dal"
                  id="bj-sel-dal"
                />
                <label class="btn btn-outline-primary" for="bj-sel-dal"
                  >달체솜</label
                >
              </div>
              <div>
                <span>점수</span>
                <div class="btn-group" role="group">
                  <input
                    type="radio"
                    class="btn-check"
                    name="plusMinus"
                    value="plus"
                    id="plusMinus-plus"
                  />
                  <label class="btn btn-outline-primary" for="plusMinus-plus"
                    >플러스</label
                  >
                  <input
                    type="radio"
                    class="btn-check"
                    name="plusMinus"
                    value="minus"
                    id="plusMinus-minus"
                  />
                  <label class="btn btn-outline-primary" for="plusMinus-minus"
                    >마이너스</label
                  >
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <span>키워드</span
                    ><input
                      id="keyWordInput"
                      class=""
                      type="text"
                      value=""
                      placeholder=""
                    />
                  </div>
                  <button id="keyWordSaveBtn" class="btn btn-primary">
                    키워드 등록
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <!-- Optional JavaScript -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:<%= port %>', {
      path: '/socket.io',
      transports: ['websocket'],
    })
  </script>
  <script src="/javascripts/admin.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
