<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/board.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <img src="images/bj/header.png" alt="" width="100%" />
      </div>

      <div class="bar">
        <img src="images/bj/listbar_black.png" alt="" />
        <div class="barText menu white top"></div>
      </div>
      <div class="body"></div>
      <div class="footer">
        <img src="images/bj/footer.png" alt="" width="100%" />
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:<%= port %>', {
      path: '/socket.io',
      transports: ['websocket'],
    })
  </script>
  <script src="javascripts/board.js"></script>
</html>
