<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    Express Main
  </body>
  <!-- 익스프레스 서버와 소켓 서버가 연결이 되면, 소켓IO 서버에서 js파일을 넣어준다 -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:<%= port %>', {
      path: '/socket.io',
      transports: ['websocket'],
    })
  </script>
  <script src="javascripts/board.js"></script>
</html>
