<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
  </head>
  <body>
    <a href="/admin">admin</a>
    <a href="/notification">notification</a>
    <a href="/board">board</a>
    <a href="/rank">rank</a>
  </body>
</html>
