#condition input[type='number'] {
  width: 70px;
  font-size: 12px;
}

.input-file-button {
  padding: 6px 25px;
  background-color: #593196;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.img-thumbnail:hover {
  filter: grayscale(50);
  opacity: 30%;
  cursor: pointer;
}

.imageBtn {
  width: 300px;
}

.imageBtn .centerd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: 700;
  color: white;
  display: none;
}

#boardSettingImages,
#rankingSettingImages {
  font-size: 20px;
}

#boardSettingImages img,
#rankingSettingImages img {
  width: 300px;
}
